<div>
    <div class="">
        <div class="">

            <div class="">
                <div class="container-fluid">
                    <div class="row">
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="text-center"> {{profile.name}}</h4>
                        <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{profile.email}}</h4>
                        <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{profile.user_name}}</h4>
                    </div>
                </div>
            </div>
            <div class="">
<!--                <button class="btn btn-lg btn-default center-block" data-dismiss="modal" aria-hidden="true">Okay!</button>-->
            </div>
        </div>
    </div>
</div>